@model ProjPrac.Models.Meal

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Meal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Breakfast" class="control-label"></label>
                @* Ln 18 Code for Enum*@
                <select asp-for="Breakfast" class="form-control"asp-items="Html.GetEnumSelectList<Morn>()"></select>
                <span asp-validation-for="Breakfast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lunch" class="control-label"></label>
                 @* Ln 24 Code for Enum*@
                <select asp-for="Lunch" class="form-control"asp-items="Html.GetEnumSelectList<Mid>()"></select>
                <span asp-validation-for="Lunch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Snack" class="control-label"></label>
                 @* Ln 30 Code for Enum*@
                <select asp-for="Snack" class="form-control" asp-items="Html.GetEnumSelectList<Food>()"></select>
                <span asp-validation-for="Snack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

